.q-btn {
  font-size: 16px;

  &--rectangle {
    border-radius: 4px;
  }

  &__bold {
    font-weight: 700;
  }
}
.q-btn__download {
  .q-icon {
    font-size: 15.5px;
  }
  .block {
    font-weight: 500;
  }
  .q-focus-helper {
    display: none;
  }
}