.q-input.q-field--focused {
  border-color: #273B5B !important;
}
.q-input {
  min-height: 40px;
  height: 40px;
  
  .q-field__native {
    padding-top: 8px !important;
  }
  &-search {
    .q-field__native {
      padding-top: 6px !important;
    }
    .q-field__control {
      padding: 0 16px;
    }
  }
  .q-field__control {
    padding-right: 0;
    height: 40px;
  }
  input {
    font-size: 16px;
    line-height: 20px;
    color: $dark;
    font-weight: 500;
    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #8893A5;
    }
  }
  .q-field__prepend {
    padding-right: 0 !important;
    min-height: 40px;
  }
}