.q-field {
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  height: 40px;
  overflow: hidden;
  transition: all 0.3s;

  &:hover {
    border: 1px solid $dark;
  }

  &__control {
    height: auto !important;
    min-height: 0 !important;
    padding: 0px;
    background-color: transparent;

    &::before {
      display: none;
    }
  }

  &__control-container {
    padding-top: 0 !important;
  }

  &__native {
    padding: 6px 16px 8px 16px !important;
    padding-top: 6px !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #12284c;
  }

  &__marginal {
    height: 40px;
    z-index: 1;
  }

  .q-select__dropdown-icon {
    font-size: 24px;
    margin: 0px 7px 0px 0px;
    color: #4690ff;
  }

  &__label {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0;
    top: 10px;
    left: 15px;
    color: #596982 !important;
  }

  &--float {
    .q-field__label {
      display: none;
    }
  }

  &--filled .q-field__control {
    background-color: #ffffff;
  }

  &--focused {
    border: 1px solid #4690ff !important;
  }

  &__input {
    min-height: 0;
  }
}

.q-select--multiple {
  height: auto !important;
  .q-field__control-container {
    align-items: flex-start;
  }
  .q-field__native {
    padding: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 4px !important;
  } 
  .q-chip {
    margin-top: 0;
    margin-bottom: 4px;
    border-radius: 4px;
    height: 100%;
    background: #F0F2F6;
    min-height: 32px;
  }
}

.q-select-add {
  border: none;
  &:hover {
    border: none;
  }
  &.q-field--focused {
    border: none !important;
  }
  .q-field__control {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    height: 40px !important;
    overflow: hidden;
    transition: all 0.3s;
    padding-left: 0 !important;
    padding-right: 0 !important;
    &:hover {
      border: 1px solid $dark;
    }
  }
  
}


.q-item {
  min-height: 0;
  padding: 12px 16px;
}

.q-field--outlined {
  .q-field__append {
    padding-right: 20px;
  }
}
.q-field--outlined .q-field__control {
  padding-left: 0;
}
body.desktop .q-focus-helper {
  background-color: #f5f5f5;
}

.q-field--standard.q-field--highlighted .q-field__control:after {
  display: none;
}
