.q-select {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 280px;
  height: 40px;
}

.q-field {
  &__label {
    color: #596982;
  }
  &__native {
    color: #12284C;
  }
}
