.q-table-main {
  margin-top: 24px;
  box-shadow: none;
  .q-table {
    thead {
      tr {
        height: auto;
        &:first-child {
          th {
            padding-left: 32px;
          }
        }
        th {
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          color: #8893A5;
          padding-top: 12px;
          padding-bottom: 10px;
          
        }
      }
    }
    tbody {
      tr {
        td {
          padding-left: 32px;
        }
      }
      .selected {
        .q-td-warning {
          background: #f0f0f0;
        }
      }
      td {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        height: auto;
        padding: 20px 0;
      }
    }
  }
  .q-table tbody tr {
    .q-td-warning {
      position: relative;
      &:after {
        content: '';
        background: #FFBB0E;
        width: 3px;
        height: 100%;
        display: block;
      }
    }
  }
  .q-table > thead > tr > th {
    .q-table__sort-icon {
      &:last-child {
        display: none;
      }
    }
  }
  // .q-table th.sort-desc
  // .q-table__sort-icon {
  //   transform: none;
  // }
  .q-table__td {
    width: 100%;
    &__link {
      max-width: 261px;
      a {
        text-decoration: none;
        color: $primary;
        white-space: break-spaces;
      }
    } 
    &__status {
      display: flex;
      align-items: center;
      .q-table__td-color {
        width: 12px;
        height: 12px;
        border-radius: 4px;
        margin-right: 8px;
      }
    }
    &__consumption {
      display: flex;
      flex-direction: column;
      &__number {
        margin-bottom: 9px;
      }
      &__limit {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #A0A9B7;
      }
    }
    &__field {
      .q-btn {
        padding: 0;
        width: 32px;
        height: 32px;
        margin: 0 4px;
        .q-icon {
          fill: #8893A5;
        }
        &:before {
          border-color: #F2F2F2;
        }
        &:hover {
          background: #F2F2F2;
          &:before {
            border-color: #F2F2F2;
          }
        }
        &:hover {
          .q-icon {
            fill: currentColor;
          }
        }
      }
    }
  }

  // checkbox
  .q-checkbox {
    &:before {
      display: none;
    }
    .q-checkbox__bg {
      width: 15px;
      height: 15px;
      border: 2px solid #12284c;
    }

    &[aria-checked="true"] {
      .q-checkbox__bg {
        &::before {
          content:'';
          position: absolute;
          width: 7px;
          height: 7px;
          top: -2px;
          right: -2px;
          background: #f0f0f0;
          z-index: 10;
        }
      }
    }

    .q-checkbox--dense .q-checkbox__inner {
      width: 15px;
      min-width: 0;
      height: 15px;
      &:before {
        display: none;
      }
    }

    .q-checkbox__inner--truthy .q-checkbox__bg,
    .q-checkbox__inner--indet .q-checkbox__bg {
      background: transparent;
    }

    .q-checkbox__svg {
      color: #12284c;
      top: -3px;
      left: 2px;
      z-index: 20;
    }
  }
  
}
body.desktop .q-checkbox:not(.disabled):focus .q-checkbox__inner:before,
body.desktop .q-checkbox:not(.disabled):hover .q-checkbox__inner:before {
  display: none;
}

.q-table__bottom {
  display: none;
}