.tabs {
  display: inline-block;

  .q-tabs__content {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    flex: 0 1 auto;
  }
}

.tab {
  min-height: 0px;
  height: 40px;
  padding: 0;

  &:first-child {
    &[aria-selected="true"] {
      .q-tab__label {
        color: #4690ff;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 1px solid #4690ff;
          border-radius: 4px 0px 0px 4px;
        }
      }
    }
  }

  &:last-child {
    &[aria-selected="true"] {
      .q-tab__label {
        color: #4690ff;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border: 1px solid #4690ff;
          border-radius: 0px 4px 4px 0px;
        }
      }
    }
  }

  .q-tab__content {
    padding: 9px 16px;
  }

  .q-tab__label {
    color: #a0a9b7;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

  .q-focus-helper {
    display: none;
  }

  .q-tab__indicator {
    display: none;
  }
}
