// custom shadow header and sidebar
$layoutsize: 240px !important;
.main-layout {
  .main-layout__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $dark;
    margin-left: 11.6px;
  }
  .q-header {
    left: $layoutsize;
    .q-toolbar {
      padding: 0 28.4px;
      min-height: 72px;
    }
  }
  .q-page-container {
    padding-left: $layoutsize;
  }
  .q-drawer--left {
    width: $layoutsize;
  }
  .q-header .q-layout__shadow {
    bottom: -24px;
  }
  .q-header .q-layout__shadow:after {
    bottom: 24px;
  }

  .q-layout__shadow:after {
    box-shadow: 0px 0px 24px rgba(18, 40, 76, 0.08);
  }
  .q-drawer--left .q-layout__shadow {
    left: 24px;
    right: -24px;
  }
  .q-drawer--left .q-layout__shadow:after {
    right: 24px;
  }

  // s
  .q-item__label--header {
    padding-top: 12px;
    margin-bottom: 44px;
    padding-left: 32.67px;
  }

  // sidebar
  .q-drawer-main {
    .q-drawer-main-links {
      .q-item {
        width: 100%;
        text-align: left;
        justify-content: flex-start;
        align-items: center;
        min-height: 64px;
        padding-left: 32.2px;
        .q-icon {
          margin-right: 3px;
        }
        .q-icon,
        .q-toolbar__title {
          color: $grey;
          transition: all 0.3s;
        }
        .q-toolbar__title {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-transform: capitalize;
          color: #596982;
        }
        &:hover {
          .q-icon,
          .q-toolbar__title {
            color: $primary;
          }
        }
      }
      .q-router-link--active {
        border-right: 3px solid $primary;
        .q-icon,
        .q-toolbar__title {
          color: $primary;
        }
      }
      

    }
  }
}


