// app global css in SCSS form
@import 'quasar.variables' ;
.q-icon > svg,
.q-icon > img {
  width: auto;
  height: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat';
}
@import 'layouts/mainLayout';


// components
@import 'components/q-select.scss';
@import 'components/q-btn.scss';
@import 'components/q-dialog.scss';
@import 'components/q-card.scss';
@import 'components/q-datepicker.scss';
@import 'components/q-checkbox.scss';
@import 'components/q-tabs.scss';
@import 'components/q-select';
@import 'components/q-btn';
@import 'components/q-dialog';
@import 'components/q-card';
@import 'components/q-datepicker';
@import 'components/q-pagination';
@import 'components/q-input';
@import 'components/q-table';

// pages
@import 'pages/home';
@import 'pages/compaings';

.q-menu {
  box-shadow: 0px 0px 24px rgba(18, 40, 76, 0.08);
  border-radius: 4px;
}

// q-page
.q-page {
  padding: 40px;
}


// components
.pt-0 {
  padding-top: 0;
}
.q-field__control:after {
  border: none !important;
}
